### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Eclipse / IntelliJ / VSCode project files
/.idea/
/*.iml
/.vscode/
/.project
/.classpath
/.settings/

# Build folders
/bin/
/out/
/target/
/build/

# Temporary files
*.tmp
*.swp
*.DS_Store
